# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [2]:
string = "toto"
number = 10

### Convert 'string' to unicode and 'number' in float

In [3]:
string = id(string)
number = float(number)

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [4]:
string = number
number = string

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [5]:
A =[1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in list `A` - in one line of code

In [6]:
print(A[:3])

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [7]:
B = A[2:5]
print(B)

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [8]:
C = A + B

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [9]:
D = zip(A, B)
print(D)

<zip object at 0x7fb55a3f5800>

### Add the number 5 to list `A`

In [10]:
A.append(5)
print(A)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [11]:
C.append(0)
print(C)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, 0]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [12]:
def multiply_list(lst, n):
    return lst*n

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [13]:
def multiply_list(lst, n=2):
    return lst*n

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [14]:
loop_on = True
while loop_on:
    for num in C:
        if num != 0:
            print(num)
        else:
            loop_on = False

1
3
2
7
4
10
46
2
7
4

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [15]:
only_even = [element for element in A if element % 2 == 0]
print(len(only_even))

4

### Rewrite the following expression with a multi-line 'for' loop

In [16]:
C = [element for element in A if element %2 == 0]

In [17]:
even = 0
for num in A:
    if num % 2 == 0:
        even += 1
print(even)

4

### Create a function that takes a string as input and returns the first single letter of the string

In [18]:
def first_lette():
    inp = str(input(">"))
    return inp[0]

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

### Access to the "year" value

In [20]:
print(thisdict["year"])

1964

###  Use a loop to display all the dictionary keys

In [21]:
for key in thisdict:
    print(key)

brand
model
year

###  Use a loop to display all the dictionary value

In [22]:
for key in thisdict: 
    print(thisdict[key])

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [23]:
for item in enumerate(thisdict):
    print(item, enumerate)

(0, 'brand') <class 'enumerate'>
(1, 'model') <class 'enumerate'>
(2, 'year') <class 'enumerate'>

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionnary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [24]:
fib_list = [0, 1]

def fibonacci(num):
    if num <1:
        print("Plz enter a valid number")
    elif num in fib_list:
        return fib_list
    while num not in fib_list:
        c = fib_list[-2] + fib_list[-1]
        fib_list.append(c)
        fib_list[-1] = c
        if fib_list[-1] > num:
            return print("this number is not in fibonacci sequence")
        else:
            continue
    return fib_list


print(fibonacci(13))

[0, 1, 1, 2, 3, 5, 8, 13]

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [30]:
import time 
a = time.time()
fibonacci(100)
b = time.time()

print(b - a )

this number is not in fibonacci sequence
0.0003230571746826172

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) ``

In [31]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print(list(fib(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]